@page
@using Microsoft.AspNetCore.Mvc.Localization
@using BookFlashSales.Localization
@using Volo.Abp.Users
@model BookFlashSales.Web.Pages.IndexModel
@inject IHtmlLocalizer<BookFlashSalesResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">
        <h1><a href="http://service-cibrylqe-1300453004.gz.apigw.tencentcs.com">返回活动页面</a></h1>
    </div>
</div>
